<h1>Welcome to Angular Framework</h1>
<hr>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, tempore? Consequuntur impedit deleniti consectetur necessitatibus totam, error magnam eius distinctio velit animi rem libero quas sunt. Ad quis doloremque veniam!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iusto provident, maxime doloremque ipsum rem tenetur recusandae et deserunt accusamus illo, omnis architecto a nulla, temporibus in rerum quis? Harum. </p>
<img src="assets/img1.png" alt="Not available">